
@model ViewModel.Views.CommonResult

@{
    ViewData["Title"] = "Gallery List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{

    var list = Model.Data as List<DataModel.BaseEntities.Gallery>;

}


<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">Gallery</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <form role="form" id="galleryForm" action="GalleryUpload" method="post" novalidate="novalidate" enctype="multipart/form-data">
                <div class="col-md-12">
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="Photo" required="required" name="Photo" value="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group mb-3">
                        <button type="submit" class="btn btn-primary btn-sm">Upload</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Gallery  List - Total : @Model.DataCount</h3>
    </div>
    <div class="card-body">

        <div class="col-md-12">
            @if (list != null && list.Count > 0)
            {
                @foreach (var item in list)
                {
                    <div class="col-md-3" style="max-height:300px;max-width:300px">
                        <img src="@item.PhotoUrl" style="max-height:300px;max-width:300px" />
                        <label>@item.PhotoName</label>
                        <button class="btn btn-primary" type="button" onclick="generateUri(@item.ID)">Generate Uri</button>
                    </div>
                }
            }
            else
            {
                <span col="9">Data not found!</span>
            }
        </div>
    </div>
</div>


<div class="modal fade" id="uriModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="pageId" name="pageId" value="0" />
                <input type="hidden" id="categoryId" name="categoryId" value="" />
                <h5 class="modal-title" id="requestModalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <input type="hidden" id="galleryId" name="galleryId" />
                    <div class="col-md-12">
                        <span>Width:</span>
                        <input class="form-control" id="Width" name="Width" />
                    </div>
                    <div class="col-md-12">
                        <span>Heigth:</span>
                        <input class="form-control" id="Heigth" name="Heigth" />
                    </div>

                    <div class="col-md-12">
                        <span>Url:</span>
                        <input class="form-control" id="Url" name="Url" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success " onclick="generateUrlFormat()">Generate</button>
                <button type="button" class="btn btn-danger " data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>﻿







@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $.validator.setDefaults({
                submitHandler: function () {
                    $('#galleryForm').submit();
                }
            });
            $('#function').validate({
                rules: {
                    Photo: {
                        required: true,
                    }
                },
                messages: {
                    Photo: {
                        required: "Please enter a file!",
                    },
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });

        function generateUri(id) {
            $('#Width').val("");
            $('#Heigth').val("");
            $('#Url').val("");
            $('#galleryId').val(id);
            $('#uriModal').modal();
        }


        function generateUrlFormat() {

            var id = $('#galleryId').val();

            $.ajax({
                type: "GET",
                url: "/Gallery/GenerateUri?Width=" + $('#Width').val() + "&Heigth=" + $('#Heigth').val()+"&gallery_id=" + id,
                success: function (e) {
                    $('#Url').val(e.data);
                }
            });
        }

    </script>

}