@model ViewModel.Views.User.UserSearchModel
@{
    ViewData["Title"] = "User List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">Filter</h3>
        <div class="pull-right text-right">
            <a href="~/User/UserDetail" class="btn btn-primary ">Add New User</a>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <input type="hidden" id="PageIndex" name="PageIndex" value="0" />

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Email" id="Email" name="Email" value="@Model.Email">
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group mb-3">
                    <select class="form-control" id="IsMailActivated" name="IsMailActivated">
                        <option>Is Mail Activated</option>
                        <option>All</option>
                        @if (Model.IsMailActivated == true)
                        {
                            <option value="False">Pasive</option>
                            <option value="True" selected="selected">Active</option>
                        }
                        else if (Model.IsMailActivated == false)
                        {
                            <option value="False" selected="selected">Pasive</option>
                            <option value="True">Active</option>
                        }
                        else
                        {
                            <option value="False">Pasive</option>
                            <option value="True">Active</option>
                        }

                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group mb-3">
                    <select class="form-control" id="IsMobileActivated" name="IsMobileActivated">
                        <option>Is Mobile Activated</option>
                        <option>All</option>
                        @if (Model.IsMobileActivated == true)
                        {
                            <option value="False">Pasive</option>
                            <option value="True" selected="selected">Active</option>
                        }
                        else if (Model.IsMobileActivated == false)
                        {
                            <option value="False" selected="selected">Pasive</option>
                            <option value="True">Active</option>
                        }
                        else
                        {
                            <option value="False">Pasive</option>
                            <option value="True">Active</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group mb-3">
                    <button type="button" onclick="filterUsers()" class="btn btn-primary btn-sm">Filter</button>
                </div>
            </div>
        </div>
    </div>
</div>




<div id="tableContent"></div>


@section scripts{



    <script>


        $(document).ready(function () {
            filterUsers();
        });

        function filterUsers(id) {


            if (id != null || id != undefined) {
                $('#PageIndex').val(id);
            }

            var search = new Object();
            search.PageIndex = $('#PageIndex').val();
            search.Email = $('#Email').val();
            search.IsMailActivated = $('#IsMailActivated').val();
            search.IsMobileActivated = $('#IsMobileActivated').val();

            $.ajax({
                type: "POST",
                url: "/User/GetUserList",
                data: search,
                success: function (e) {
                    $('#tableContent').html(e);
                }
            });
        }

    </script>



}

