@inject Business.Service.Infrastructure.ILexiconService lexiconHelper;
@inject Business.Service.Infrastructure.IPageService pageService;

@{
    ViewBag.Title = lexiconHelper.GetTextValue("_process_personel_data_page_title", 8);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var page = pageService.GetPageByCode(4).Data as DataModel.BaseEntities.Page;
}

<section class="faq-card">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="about-blk-content">
                        @Html.Raw(page.Content)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
