@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
            <img src="~/images/userloginimage.png" id="icon" alt="User Icon" />
        </div>
        <form method="post">
            <input type="text" id="EmailOrPhone" class="fadeIn second" name="EmailOrPhone" placeholder="login">
            <input type="password" id="Password" class="fadeIn third" name="Password" placeholder="Password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>
    </div>
</div>