@inject Business.Service.Infrastructure.ILexiconService lexiconHelper;


@{
    ViewBag.Title = lexiconHelper.GetTextValue("_my_services_page_title", 14);
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="content">
    <div class="container">
        <div class="row">

            @await Html.PartialAsync("_GetUserMenu", new ViewDataDictionary(ViewData)
                                {
                                    { @"menu", @"service" }
                                })


        </div>

    </div>

</div>

